* {
    box-sizing: border-box;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 18%;
    margin-bottom: 3vh;
    height:30vh;
    margin-left: 2%;
  }
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card { /* this adds the "card" effect */
    background-color:rgb(49, 49, 49);
    height: 30vh;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  #header{
    background-color: rgb(0, 0, 0);
    height: 12vh;
    width: 100%;
    position: fixed;
    z-index: 5;
}
#shapka{
    width:100%;
    padding-left:5%;
    font-family: sans-serif;
}
.yea{
    float:left;
}
.knopki{
    position: relative;
    border:none; 
    padding:0; 
    margin:0;
    color: rgb(124, 124, 124);
    background-color:transparent; 
    padding-top: 5vh;
    margin-left: 1vw;
    font-size: 15px;
}
.ss{
    text-decoration: none;
    color: rgb(124, 124, 124);
    text-align: center;
}
.ss:hover{
    color: rgb(255, 255, 255);
    opacity: 0.8;
    text-align: center;
}
.pozor{
    height:105vh;
    width:100%;
    background-color: rgb(163, 160, 141);
}
.probel{
    height:12vh;
}
.tabloid{
    padding-top: 2vh;
    width:95%;
    margin-left:1.5%;
}
#footer{
    height:20vh;
    width:100%;
    background-color:rgb(0, 0, 0);
    font-size: 1.5vh;
    padding:2vw;
    color:rgb(124,124,124);
    padding-top: 4vh
}
.ber{
}
.sh{
    width:100%;
}
.pred{
    text-align: center;
    color: #fff;
    padding-top: 5vh;
    font-family: sans-serif;
    font-size: 1vw;
}
.knopki1{
    position: relative;
    border:none; 
    padding:0; 
    margin:0;
    color: rgb(124, 124, 124);
    background-color:transparent; 
}