#header{
    background-color: rgb(0, 0, 0);
    height: 12vh;
    width: 100%;
    position: fixed;
    z-index: 5;
}
#shapka{
    width:100%;
    padding-left:5%;
    font-family: sans-serif;
}
#content{
    width:100%;
}
#footer{
    height:20vh;
    width:100%;
    background-color:rgb(0, 0, 0);
    font-size: 1.5vh;
    padding:2vw;
    color:rgb(124,124,124);
    padding-top: 4vh
}
.knopki{
    position: relative;
    border:none; 
    padding:0; 
    margin:0;
    color: rgb(124, 124, 124);
    background-color:transparent; 
    padding-top: 5vh;
    margin-left: 1vw;
    font-size: 15px;
}
.ss{
    text-decoration: none;
    color: rgb(124, 124, 124);
    text-align: center;
}
.ss:hover{
    color: rgb(255, 255, 255);
    opacity: 0.8;
    text-align: center;
}
.knopki1{
    position: relative;
    border:none; 
    padding:0; 
    margin:0;
    color: rgb(124, 124, 124);
    background-color:transparent; 
}
.ab{
    width:100%;
    background-color: rgb(152, 175, 184);
}
.tablo{
    width:95%;
    margin-left: 2.5%;
    height: 100vh;
}
.yea{
    float:left;
}
.probel{
    height:12vh;
}