#header{
    background-color: rgb(0, 0, 0);
    height: 12vh;
    width: 100%;
    position: fixed;
    z-index: 5;
}
#shapka{
    width:100%;
    padding-left:5%;
    font-family: sans-serif;
}
#content{
    width:100%;
}
.block{
    height:100vh;
    width:90%;
    margin-left:5%;
}
.blockl1{
    width:64%;
    height:70vh;
    background-color: rgb(70, 70, 85);
    float:left;
    color:rgb(173, 169, 182);
    font-size:30px;
    padding-bottom: 20px;
}
.block2{
    position:relative;
    width:35%;
    height:70vh;
    background-color: rgb(37, 36, 48);
    float:right;
    color:rgb(201, 199, 204);
    font-size:10px;
    font-family:sans-serif;
}
.zag1{
    padding:10px;
    text-align: center;
}
.aboba{
    margin-top: 10px;
    margin-left:10px;
}
.block2 .расписание{
    padding-top:30px;
    position:absolute;
    background: rgba(0,0,0,0.5);
    bottom:0;
    height:100%;
    text-align: left;
    z-index: 4;
    padding-left:40px;
    width:100%;
}
.carousel-item active{
    height:70vh;
}
.carousel-item{
    height:70vh;
}
#carouselExmapleIndicators{
    height:70vh;
}
.bo{
    padding-top:20px;
    position:absolute;
    background: rgba(0,0,0,0.7);
    bottom:0;
    height:25%;
    text-align: left;
    z-index: 4;
    padding-left:40px;
    width:100%;
}
.olim{
    margin-left:5%;
    width:90%;
}
.bol{
    position:absolute;
    z-index:4;
    float:left;
    width:36%;
    height:70vh;
    background: rgba(0,0,0,0.5);
}
.nadpis{
    margin-top:450px;
    margin-left:40px;
    font-family: sans-serif;
    font-size:10px;
    color: rgb(255, 255, 255);
}
.yea{
    float:left;
}
#haha{
    background-color:rgb(123, 112, 129);
    height:100vh;
    width: 100%;
    padding-top:150px;
}
#ahah2{
    background-color: rgb(77, 58, 58);
    height:100vh;
    width:100%;
    padding-top:150px;
}
#footer{
    height:20vh;
    width:100%;
    background-color:rgb(0, 0, 0);
    font-size: 1.5vh;
    padding:2vw;
    color:rgb(124,124,124);
    padding-top: 4vh
}
.kul{
    background-color: rgba(0,0,0, 0.5);
    position:absolute;
    width:100%;
    height:100vh;
    float: left;
    font-size: 70px;
    font-family: sans-serif;
    padding-top:500px;
    text-align: center;
    color:white;
}
#zdarova{
    height:100vh;
}
.knopki{
    position: relative;
    border:none; 
    padding:0; 
    margin:0;
    color: rgb(124, 124, 124);
    background-color:transparent; 
    padding-top: 5vh;
    margin-left: 1vw;
    font-size: 15px;
}
.ss{
    text-decoration: none;
    color: rgb(124, 124, 124);
    text-align: center;
}
.ss:hover{
    color: rgb(255, 255, 255);
    opacity: 0.8;
    text-align: center;
}
.knopki1{
    position: relative;
    border:none; 
    padding:0; 
    margin:0;
    color: rgb(124, 124, 124);
    background-color:transparent; 
}